## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,2,victoria,HK,overcast clouds,72.32,22.2855,114.1577,Mini Hotel Central
1,9,kapaa,US,broken clouds,73.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,10,belmonte,BR,moderate rain,75.63,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
3,11,vallenar,CL,clear sky,73.85,-28.5708,-70.7581,Humacao Bed & Breakfast
4,13,huarmey,PE,overcast clouds,72.05,-10.0681,-78.1522,Hotel Miramar

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    22.2855  114.1577
1    22.0752 -159.3190
2   -15.8631  -38.8828
3   -28.5708  -70.7581
4   -10.0681  -78.1522
..       ...       ...
135  12.5240  -70.0270
136 -23.7000  133.8833
137  -8.1900  114.9675
138  33.3406   44.4009
139  42.7500    2.7500

[140 rows x 2 columns]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
cur_desc = vacation_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
start_city = "hualmay"
end_city = "hualmay"
stop1 = "huarmey"
stop2 = "labrea"
stop3 = "villamontes"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == stop2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == stop3]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start} , End:{end}')

Start: (-11.0964, -77.6139) , End:(-11.0964, -77.6139)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,251,hualmay,PE,broken clouds,71.06,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
1,13,huarmey,PE,overcast clouds,72.05,-10.0681,-78.1522,Hotel Miramar
2,595,labrea,BR,overcast clouds,78.39,-7.2586,-64.7981,Hotel Novo Horizonte
3,402,villamontes,BO,overcast clouds,74.93,-21.2500,-63.5000,Hotel Raldes

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0 -11.0964 -77.6139
1 -10.0681 -78.1522
2  -7.2586 -64.7981
3 -21.2500 -63.5000

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))